body {
    background-color:rosybrown;
}

/*stile richiamando un id*/
#logo{
    width:100px;
    border: 5px solid darkred;
}

h1{
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*display:inline*/;
}

#logo + h1 {
    display:inline;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

/*.classe{
    color:aqua
}*/

/*h1, .classe{
    color: cadetblue
}*/


div p {
    text-decoration:underline;
}

div * p {
    color:orange
}

div > p {
    font-size: 20px
}



a {
    color:pink;
}
a:visited {
    text-decoration:overline
}
a:hover {
    color:yellow
}

a:active {
    color:deeppink
}

p::first-letter{
    font-size:25px;
    color:rgb(64 153 198)
}

p:hover {
    background-color:antiquewhite
}



#segreto {
/*    visibility:hidden;
*/    display:none;
}


#imgpar {
    float:left
}

#div1 {
    border:2px solid blue;
    float:left;
    width:200px;
}
#div2 {
    border: 2px solid red;
    float:left;
}
#div3 {
    border: 2px solid green;
    float:left;
}

#clear {
    border: 2px solid orange;
    clear: left;
}

#box {
    border: 2px solid pink;
    padding:10px 40px 80px 150px;

}

#box2 {
    border: 26px solid pink;
    padding:20px;
    margin-left:60px;
    margin-right:60px;
}

#box3 {
    border: 26px solid pink;
    padding: 20px;
    margin-left: -15px;
    margin-right: 60px;
    border-radius:30px
}